.searchDetails{
    width: 80%;
    margin: auto;
    margin-bottom: 40px;
}
.filterIconContainer{
    display: flex;
    gap: 20px;
}
.filterBtn{
    display: flex;
    border: 1px solid rgb(128, 128, 128);
    padding: 15px;
    cursor: pointer;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
}
.filterBtn:hover{
    background-color: rgb(240, 239, 239);
}
.searchDetailsImage{
    min-width: 300px !important;
    min-height: 200px !important;
    max-width: 300px !important;
    max-height: 200px !important;
}
.searchDetailsPlace{
    display: flex;
    gap: 25px;;

}
.filterDrop{
    text-align: center;
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
margin-top: 10px;
border-radius: 10px;
padding: 10px;
}
.filterDrop p{
    margin-bottom: 10px;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .searchDetailsPlace{
        flex-direction: column;
    }
    .lightCozyP{
        margin: 15px 0;
    }
  }
@media screen and (max-width: 590px) {
    .filterBtn{
        padding: 5px 8px;
        gap: 8px;
        font-size: 11px;
    }
}
@media screen and (max-width: 405px) {
    .filterIconContainer{
        flex-direction: column;

    }
    .filterBtn{
        margin-top: 5px;
        width: 40%;
    }
}